<div id="chat">
  <img src="/images/logo-jobsity.png" class="mb-5 text-center">

  <div class="row justify-content-md-center">
    <h1 class="w-100 text-center">Chat</h1>

    <div class="col-6">

    </div>
    <!-- <div class="col-6">
      <form @submit="signUp()">

      </form>
    </div> -->
  </div>
</div>
<script>
  let app = new Vue({
    el: '#chat',
    beforeMount() {
      if (!authService.isLoggedIn()) {
        window.location.href = '/';
      }
    }
  })
</script>
