<!DOCTYPE html>
<html>
  <head>
    <title>CHAT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/scripts/base.js"></script>
    <script src="/scripts/auth.js"></script>
    <script src="/scripts/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="logout">
        <img src="/images/logo-jobsity.png" class="mb-5 text-center">

        <div class="row justify-content-md-center">
          <h1 class="w-100 text-center">Logging off...</h1>
        </div>
      </div>
    </div>
    <script>
      let app = new Vue({
        el: '#logout',
        mounted() {
          Toast.fire({
            icon: 'success',
            title: 'Logging off!'
          }).then(() => {
            window.location.href = '/';
          });
        },
        beforeMount() {
          authService.logout();
        }
      });
    </script>
  </body>
</html>
