<!DOCTYPE html>
<html>
  <head>
    <title>CHAT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.5/dist/vuelidate.min.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.5/dist/validators.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="/scripts/base.js"></script>
    <script src="/scripts/auth.js"></script>
    <script src="/scripts/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="signUp">
        <img src="/images/logo-jobsity.png" class="mb-5 text-center">

        <div class="row justify-content-md-center">
          <h1 class="w-100 text-center">Sign Up</h1>

          <div class="col-6">
            <form @submit.prevent="signUp()">
              <div class="form-group" :class="{ 'text-danger': $v.model.username.$error }">
                <label for="username">Username</label>
                <input type="text"
                  :class="{ 'is-invalid': $v.model.username.$error }"
                  class="form-control"
                  maxlength="20"
                  v-model="model.username"
                  aria-describedby="usernameHelp"
                  placeholder="Username"
                  @input="$v.model.username.$touch()">
              </div>

              <div class="form-group" :class="{ 'text-danger': $v.model.password.$error }">
                <label for="password">Password</label>
                <input type="password"
                  :class="{ 'is-invalid': $v.model.username.$error }"
                  class="form-control"
                  maxlength="20"
                  v-model="model.password"
                  placeholder="Password"
                  @input="$v.model.password.$touch()">
              </div>

              <button type="submit" class="btn btn-primary btn-block">Submit</button>

              <a href="/" class="mt-5 text-center">Already registered? Sign in!</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      const { required, minLength } = window.validators

      let app = new Vue({
        el: '#signUp',
        data: {
          model: {
            username: '',
            password: ''
          }
        },
        validations: {
          model: {
          	username: {
            	required,
              minLength: minLength(2)
            },
            password: {
            	required,
              minLength: minLength(2)
            }
          }
        },
        methods: {
          async signUp() {
            let vm = this;

            if (this.$v.model.$invalid) {
              this.$v.model.$touch();
            } else {
              try {
                const ret = await authService.signUp(this.model);

                Toast.fire({
                  icon: 'success',
                  title: 'Signed up and in successfully, good chat :)'
                }).then(() => {
                  window.location.href = '/chat';
                });
              } catch (e) {
                if (e && e.length > 0) {
                  for (let error of e) {
                    Toast.fire({
                      icon: 'error',
                      title: error.message
                    });
                  }
                }
              }
            }
          }
        },
        beforeMount() {
          if (authService.isLoggedIn()) {
            window.location.href = '/chat';
          }
        }
      });
    </script>
  </body>
</html>
